html{
  background-color: white;
  font-family: 'Teko', sans-serif;

}

.main{
  padding-top: 20px;
}

card-title{
  padding-top: 0
}

/*
font-family: 'Teko', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
color: #46cdf7; blue
color: #65c56d; green
color: #0b245d; darkblue
*/
